<div class="container">
  <div class="row">
    <div class="col-9 mt-3 mb-5">
      <h1 class="my-4">Address and Payment</h1>
      <form [formGroup]="checkoutForm" (submit)="checkSub()">
        <div class="form-group">
          <label>Address:</label>
          <textarea
            required
            formControlName="address"
            class="form-control w-75"
            cols="15"
            rows="5"
          ></textarea>
        </div>
        <div class="form-group">
          <label>Contact Number:</label>
          <input
            formControlName="contact"
            class="form-control w-75"
            type="number"
            required
          />
        </div>
        <div class="form-group">
          <label>Payment:</label>
          <input
            formControlName="payment"
            class="mx-2"
            type="radio"
            value="Pay on Delivery"
          />
          <label> : Pay on Delivery</label>
          <br />
          <input
            formControlName="payment"
            class="mr-2 chkOut"
            type="radio"
            value="Credit/Debit Card"
          />
          <label> : Credit/Debit Card</label>
        </div>
        <div class="form-group">
          <button class="btn btn-warning chkOutBtn">Place Order!</button>
        </div>
      </form>
    </div>
    <div class="col-3 mt-3 mb-5 text-center">
      <h1 class="my-4">Product/Quantity</h1>
      <div *ngFor="let detail of details" class="pdiv py-2">
        <p>Product: {{ detail.product }}</p>
        <p>Quantity : {{ detail.quantity }}</p>
        <p>Price : ${{ detail.price }}</p>
      </div>
      <div class="ptotal py-2">
        <p>Total : ${{ this.details[0].total }}</p>
      </div>
    </div>
  </div>
</div>
<button (click)="abc()">abc</button>
<app-footer-component></app-footer-component>
