<section class="content9">
  <div class="container my-5 pt-5 icopos">
    <div class="ico">
      <fa-icon class="text-white" [icon]="faSortUp" size="lg"></fa-icon>
    </div>
    <div class="row">
      <div class="col-lg-3 vegefood">
        <p class="font-weight-bold py-3">Vegefoods</p>
        <p class="pt-1 pr-5 pp">
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia.
        </p>
        <div class="vegefoodsicon py-5">
          <ul>
            <li
              class="d-inline-block text-center mx-1 pt-2"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <a href="#"><fa-icon [icon]="faFacebook" size="2x"></fa-icon></a>
            </li>
            <li
              class="d-inline-block text-center mx-1 pt-2"
              data-aos="fade-up"
              data-aos-duration="900"
            >
              <a href="#"><fa-icon [icon]="faTwitter" size="2x"></fa-icon></a>
            </li>
            <li
              class="d-inline-block text-center mx-1 pt-2"
              data-aos="fade-up"
              data-aos-duration="1100"
            >
              <a href="#"><fa-icon [icon]="faInstagram" size="2x"></fa-icon></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 menu">
        <p class="font-weight-bold py-3">Menu</p>
        <ul>
          <li class="py-1"><a href="#">Shop</a></li>
          <li class="py-1"><a href="#">About</a></li>
          <li class="py-1"><a href="#">Journal</a></li>
          <li class="py-1"><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-3 menu">
        <p class="font-weight-bold py-3">Help</p>
        <ul>
          <li class="py-1"><a href="#">Shipping Information</a></li>
          <li class="py-1"><a href="#">Returns & Exchange</a></li>
          <li class="py-1"><a href="#">Terms & Conditions</a></li>
          <li class="py-1"><a href="#">Privacy Policy</a></li>
          <li class="py-1"><a href="#">FAQs</a></li>
          <li class="py-1"><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-3 foottable">
        <p class="font-weight-bold py-3">Have a Questions?</p>
        <ul>
          <li class="d-table my-2">
            <span class="d-table-cell pr-3">
              <fa-icon [icon]="faMapMarker"></fa-icon
            ></span>
            <span class="d-table-cell px-3"
              >203 Fake St. Mountain View, San Francisco, California, USA</span
            >
          </li>
          <li class="d-table my-2">
            <span class="d-table-cell pr-3"
              ><fa-icon [icon]="faPhone"></fa-icon
            ></span>
            <span class="d-table-cell px-3">+2 392 3929 21</span>
          </li>
          <li class="d-table my-3">
            <span class="d-table-cell pr-3"
              ><fa-icon [icon]="faEnvelope"></fa-icon
            ></span>
            <span class="d-table-cell px-3">info@yourdomain.com</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="content10">
  <div class="container text-center">
    <p class="pb-5">
      Copyright ©2020 All rights reserved | This template is made with
      <fa-icon [icon]="faHeart"></fa-icon> by
      <a href="#">Amrit</a>
    </p>
  </div>
</section>
