<section class="section1">
  <div
    class="bgimg d-table"
    style="background-image: url(../../assets/images/bg_1.jpg)"
  >
    <div
      class="bgimgtext d-table-cell align-middle text-center pt-5"
      data-aos="fade-up"
      data-aos-duration="700"
    >
      <p class="breadcrumbs text-uppercase bread">
        <span><a routerLink="/home">Home </a> </span> <span>Blog</span>
      </p>
      <h3 class="font-weight-bold">BLOG</h3>
    </div>
  </div>
</section>
<section class="section2 py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12 my-5">
            <div class="row">
              <div class="col-lg-5" data-aos="fade-up" data-aos-duration="700">
                <a routerLink="/blogsingle">
                  <div
                    class="inimgdiv"
                    style="
                      background-image: url(../../assets/images/image_1.jpg);
                    "
                  ></div>
                </a>
              </div>
              <div
                class="col-lg-7 texttdiv"
                data-aos="fade-up"
                data-aos-duration="700"
              >
                <span
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-calendar" aria-hidden="true"></i> July 20,
                    2019</a
                  ></span
                >
                <span class="mx-1"
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-user" aria-hidden="true"></i> Admin</a
                  ></span
                >
                <span class="ccc"
                  ><a routerLink="/blogsingle"
                    ><i class="fa fa-comment ccc" aria-hidden="true"></i
                  ></a>
                  3</span
                >
                <h3 class="my-3">
                  <a routerLink="/blogsingle"
                    >Even the all-powerful Pointing has no control about the
                    blind texts</a
                  >
                </h3>
                <p class="text-muted">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <button class="btn py-2 px-3 mt-2" type="button">
                  <a routerLink="/blogsingle">Read more</a>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-12 my-5">
            <div class="row">
              <div class="col-lg-5" data-aos="fade-up" data-aos-duration="700">
                <a routerLink="/blogsingle">
                  <div
                    class="inimgdiv"
                    style="
                      background-image: url(../../assets/images/image_2.jpg);
                    "
                  ></div>
                </a>
              </div>
              <div
                class="col-lg-7 texttdiv"
                data-aos="fade-up"
                data-aos-duration="700"
              >
                <span
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-calendar" aria-hidden="true"></i> July 20,
                    2019</a
                  ></span
                >
                <span class="mx-1"
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-user" aria-hidden="true"></i> Admin</a
                  ></span
                >
                <span class="ccc"
                  ><a routerLink="/blogsingle"
                    ><i class="fa fa-comment ccc" aria-hidden="true"></i
                  ></a>
                  3</span
                >
                <h3 class="my-3">
                  <a routerLink="/blogsingle"
                    >Even the all-powerful Pointing has no control about the
                    blind texts</a
                  >
                </h3>
                <p class="text-muted">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <button class="btn py-2 px-3 mt-2" type="button">
                  <a routerLink="/blogsingle">Read more</a>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-12 my-5">
            <div class="row">
              <div class="col-lg-5" data-aos="fade-up" data-aos-duration="700">
                <a routerLink="/blogsingle">
                  <div
                    class="inimgdiv"
                    style="
                      background-image: url(../../assets/images/image_3.jpg);
                    "
                  ></div>
                </a>
              </div>
              <div
                class="col-lg-7 texttdiv"
                data-aos="fade-up"
                data-aos-duration="700"
              >
                <span
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-calendar" aria-hidden="true"></i> July 20,
                    2019</a
                  ></span
                >
                <span class="mx-1"
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-user" aria-hidden="true"></i> Admin</a
                  ></span
                >
                <span class="ccc"
                  ><a routerLink="/blogsingle"
                    ><i class="fa fa-comment ccc" aria-hidden="true"></i
                  ></a>
                  3</span
                >
                <h3 class="my-3">
                  <a routerLink="/blogsingle"
                    >Even the all-powerful Pointing has no control about the
                    blind texts</a
                  >
                </h3>
                <p class="text-muted">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <button class="btn py-2 px-3 mt-2" type="button">
                  <a routerLink="/blogsingle">Read more</a>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-12 my-5">
            <div class="row">
              <div class="col-lg-5" data-aos="fade-up" data-aos-duration="700">
                <a href="#">
                  <div
                    class="inimgdiv"
                    style="
                      background-image: url(../../assets/images/image_4.jpg);
                    "
                  ></div>
                </a>
              </div>
              <div
                class="col-lg-7 texttdiv"
                data-aos="fade-up"
                data-aos-duration="700"
              >
                <span
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-calendar" aria-hidden="true"></i> July 20,
                    2019</a
                  ></span
                >
                <span class="mx-1"
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-user" aria-hidden="true"></i> Admin</a
                  ></span
                >
                <span class="ccc"
                  ><a routerLink="/blogsingle"
                    ><i class="fa fa-comment ccc" aria-hidden="true"></i
                  ></a>
                  3</span
                >
                <h3 class="my-3">
                  <a routerLink="/blogsingle"
                    >Even the all-powerful Pointing has no control about the
                    blind texts</a
                  >
                </h3>
                <p class="text-muted">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <button class="btn py-2 px-3 mt-2" type="button">
                  <a routerLink="/blogsingle">Read more</a>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-12 my-5">
            <div class="row">
              <div class="col-lg-5" data-aos="fade-up" data-aos-duration="700">
                <a href="#">
                  <div
                    class="inimgdiv"
                    style="
                      background-image: url(../../assets/images/image_5.jpg);
                    "
                  ></div>
                </a>
              </div>
              <div
                class="col-lg-7 texttdiv"
                data-aos="fade-up"
                data-aos-duration="700"
              >
                <span
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-calendar" aria-hidden="true"></i> July 20,
                    2019</a
                  ></span
                >
                <span class="mx-1"
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-user" aria-hidden="true"></i> Admin</a
                  ></span
                >
                <span class="ccc"
                  ><a routerLink="/blogsingle"
                    ><i class="fa fa-comment ccc" aria-hidden="true"></i
                  ></a>
                  3</span
                >
                <h3 class="my-3">
                  <a routerLink="/blogsingle"
                    >Even the all-powerful Pointing has no control about the
                    blind texts</a
                  >
                </h3>
                <p class="text-muted">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <button class="btn py-2 px-3 mt-2" type="button">
                  <a routerLink="/blogsingle">Read more</a>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-12 my-5">
            <div class="row">
              <div class="col-lg-5" data-aos="fade-up" data-aos-duration="700">
                <a href="#">
                  <div
                    class="inimgdiv"
                    style="
                      background-image: url(../../assets/images/image_6.jpg);
                    "
                  ></div>
                </a>
              </div>
              <div
                class="col-lg-7 texttdiv"
                data-aos="fade-up"
                data-aos-duration="700"
              >
                <span
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-calendar" aria-hidden="true"></i> July 20,
                    2019</a
                  ></span
                >
                <span class="mx-1"
                  ><a routerLink="/blogsingle">
                    <i class="fa fa-user" aria-hidden="true"></i> Admin</a
                  ></span
                >
                <span class="ccc"
                  ><a routerLink="/blogsingle"
                    ><i class="fa fa-comment ccc" aria-hidden="true"></i
                  ></a>
                  3</span
                >
                <h3 class="my-3">
                  <a routerLink="/blogsingle"
                    >Even the all-powerful Pointing has no control about the
                    blind texts</a
                  >
                </h3>
                <p class="text-muted">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <button class="btn py-2 px-3 mt-2" type="button">
                  <a routerLink="/blogsingle">Read more</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 my-5">
        <div
          class="searchbox px-4 pt-4"
          data-aos="fade-up"
          data-aos-duration="700"
        >
          <div>
            <div class="form-group searchdiv">
              <input class="form-control" type="text" placeholder="Search.." />
              <span><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <div
          class="categorybox my-5 px-4 pt-4"
          data-aos="fade-up"
          data-aos-duration="700"
        >
          <h5>Categories</h5>
          <ul class="my-4">
            <li class="py-3 lii">
              <a href="#">Vegetables <span>(12)</span></a>
            </li>
            <li class="py-3 lii">
              <a href="#">Fruits <span>(22)</span></a>
            </li>
            <li class="py-3 lii">
              <a href="#">Juice <span>(37)</span></a>
            </li>
            <li class="py-3 lii">
              <a href="#">Dries <span>(42)</span></a>
            </li>
          </ul>
        </div>
        <div
          class="blog my-5 px-4 pt-4"
          data-aos="fade-up"
          data-aos-duration="700"
        >
          <h5>Recent Blog</h5>
          <div class="row my-4">
            <div class="col-lg-3 my-3">
              <div
                class="imgggdiv"
                style="background-image: url(../../assets/images/image_1.jpg)"
              ></div>
            </div>
            <div class="col-lg-9 blogtext px-4 my-3">
              <p>
                Even the all-powerful Pointing has no control about the blind
                texts
              </p>
              <span
                ><i class="fa fa-calendar ccc" aria-hidden="true"></i> April 09,
                2019</span
              >
              <span
                ><i class="fa fa-user ccc" aria-hidden="true"></i> Admin</span
              >
              <span><i class="fa fa-comment" aria-hidden="true"></i> 19</span>
            </div>
            <div class="col-lg-3 my-3">
              <div
                class="imgggdiv"
                style="background-image: url(../../assets/images/image_2.jpg)"
              ></div>
            </div>
            <div class="col-lg-9 blogtext px-4 my-3">
              <p>
                Even the all-powerful Pointing has no control about the blind
                texts
              </p>
              <span
                ><i class="fa fa-calendar ccc" aria-hidden="true"></i> April 09,
                2019</span
              >
              <span
                ><i class="fa fa-user ccc" aria-hidden="true"></i> Admin</span
              >>
              <span><i class="fa fa-comment" aria-hidden="true"></i> 19</span>
              <div class="col-lg-3 my-3">
                <div
                  class="imgggdiv"
                  style="background-image: url(../../assets/images/image_3.jpg)"
                ></div>
              </div>
              <div class="col-lg-9 blogtext px-4 my-3">
                <p>
                  Even the all-powerful Pointing has no control about the blind
                  texts
                </p>
                <span
                  ><i class="fa fa-calendar ccc" aria-hidden="true"></i> April
                  09, 2019</span
                >
                <span
                  ><i class="fa fa-user ccc" aria-hidden="true"></i> Admin</span
                >
                <span><i class="fa fa-comment" aria-hidden="true"></i> 19</span>
              </div>
            </div>
          </div>
          <div
            class="tag my-5 px-4 pt-4"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <h5>Tag Cloud</h5>
            <div class="btngrou my-4">
              <a class="px-2 py-2 my-1" href="#">FRUITS</a>
              <a class="px-2 py-2 my-1" href="#">TOMATOE</a>
              <a class="px-2 py-2 my-1" href="#">MANGO</a>
              <a class="px-2 py-2 my-1" href="#">APPLE</a>
              <a class="px-2 py-2 my-1" href="#">CARROTS</a>
              <a class="px-2 py-2 my-1" href="#">ORANGE</a>
              <a class="px-2 py-2 my-1" href="#">PEPPER</a>
              <a class="px-2 py-2 my-1" href="#">EGGPLANT</a>
            </div>
          </div>
          <div
            class="para my-5 px-4 pt-4"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <h5 class="my-4">Paragraph</h5>
            <p class="px-1 text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
              itaque, autem necessitatibus voluptate quod mollitia delectus aut,
              sunt placeat nam vero culpa sapiente consectetur similique,
              inventore eos fugit cupiditate numquam!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-component></app-footer-component>
