<section class="section1">
  <div
    class="bgimg d-table"
    style="background-image: url(../../assets/images/bg_1.jpg)"
  >
    <div
      class="bgimgtext d-table-cell align-middle text-center pt-5"
      data-aos="fade-up"
      data-aos-duration="700"
    >
      <p class="breadcrumbs text-uppercase bread">
        <span><a routerLink="/home">Home </a> </span> <span>About Us</span>
      </p>
      <h3 class="font-weight-bold">ABOUT US</h3>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-12">
        <div
          class="aboutimgdiv"
          style="background-image: url(../../assets/images/about.jpg)"
        >
          <div class="absoluteicon rounded-circle">
            <a href="#myModal" data-toggle="modal" data-target="#myModal"
              ><i class="fa fa-play fa-3x text-white" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="myModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="embed-responsive embed-responsive-16by9">
                <video
                  class="embed-responsive-item"
                  id="video"
                  allowscriptaccess="always"
                >
                  <source src="../../assets/video/108300620.mp4" />
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-7 col-sm-12 py-5 px-5 abouttextdiv"
        data-aos="fade-up"
        data-aos-duration="700"
      >
        <h1 class="font-weight-bolder pt-5 mb-4">
          Welcome to Vegefoods an eCommerce website
        </h1>
        <p class="text-muted mb-4">
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the Semantics, a large
          language ocean.
        </p>
        <p class="text-muted mb-4">
          But nothing the copy said could convince her and so it didn’t take
          long until a few insidious Copy Writers ambushed her, made her drunk
          with Longe and Parole and dragged her into their agency, where they
          abused her for their.
        </p>
        <button class="btn" type="button"><a href="#">Shop now</a></button>
      </div>
    </div>
  </div>
</section>
<section class="content8 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 newsleft my-5">
        <p class="h4">Subcribe to our Newsletter</p>
        <p class="text-muted bio">
          Get e-mail updates about our latest shops and special offers
        </p>
      </div>
      <div class="col-lg-6 formright my-5">
        <div>
          <div class="form-group d-flex">
            <input
              class="form-control input-lg"
              type="text"
              placeholder="   Enter email address"
            />
            <input class="btn input2" type="submit" value="Subcribe" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="aboutsection4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div
        class="col-lg-2 col-sm-12"
        data-aos="fade-up"
        data-aos-duration="700"
      >
        <h3 class="counter">10,000</h3>
        <span>HAPPY CUSTOMERS</span>
      </div>
      <div
        class="col-lg-2 col-sm-12"
        data-aos="fade-up"
        data-aos-duration="900"
      >
        <h3 class="counter">100</h3>
        <span>BRANCHES</span>
      </div>
      <div
        class="col-lg-2 col-sm-12"
        data-aos="fade-up"
        data-aos-duration="1100"
      >
        <h3 class="counter">1000</h3>
        <span>PARTNER</span>
      </div>
      <div
        class="col-lg-2 col-sm-12"
        data-aos="fade-up"
        data-aos-duration="1300"
      >
        <h3 class="counter">100</h3>
        <span>AWARDS</span>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>
<section class="content6">
  <div class="container">
    <div
      class="textpart text-center my-5"
      data-aos="fade-up"
      data-aos-duration="700"
    >
      <p class="testimony h5 pt-5">Testimony</p>
      <p class="h1 font-weight-bold my-4 satisfied">
        Our satisfied customers say
      </p>
      <p class="text-muted pt-3 pb-5 farfar">
        Far far away, behind the word mountains, far from the countries Vokalia
        and Consonantia, there live the blind texts. Separated they live in
      </p>
    </div>
    <div class="item text-center" data-aos="fade-up" data-aos-duration="500">
      <div class="owl-carousel carousel2 owl-theme">
        <div class="item text-center">
          <div class="personcontent px-5">
            <div class="px-4 mx-5">
              <img
                class="img-fluid rounded-circle"
                src="../../assets/images/person_1.jpg"
                alt="img"
              />
            </div>
            <div class="carouselp mt-5 pb-3">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
            <div class="carouselsp">
              <p class="font-weight-bolder">Garreth Smith</p>
              <span class="text-uppercase font-weight-bold"
                >System Analyst</span
              >
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="personcontent px-5">
            <div class="px-4 mx-5">
              <img
                class="img-fluid rounded-circle"
                src="../../assets/images/person_2.jpg"
                alt="img"
              />
            </div>
            <div class="carouselp mt-5 pb-3">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
            <div class="carouselsp">
              <p class="font-weight-bolder">Garreth Smith</p>
              <span class="text-uppercase font-weight-bold"
                >Marketing Manager</span
              >
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="personcontent px-5">
            <div class="px-4 mx-5">
              <img
                class="img-fluid rounded-circle"
                src="../../assets/images/person_3.jpg"
                alt="img"
              />
            </div>
            <div class="carouselp mt-5 pb-3">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
            <div class="carouselsp">
              <p class="font-weight-bolder">Garreth Smith</p>
              <span class="text-uppercase font-weight-bold"
                >Interface Designer</span
              >
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="personcontent px-5">
            <div class="px-4 mx-5">
              <img
                class="img-fluid rounded-circle"
                src="../../assets/images/person_1.jpg"
                alt="img"
              />
            </div>
            <div class="carouselp mt-5 pb-3">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
            <div class="carouselsp">
              <p class="font-weight-bolder">Garreth Smith</p>
              <span class="text-uppercase font-weight-bold">Ui Designer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content2 bg-light">
  <div class="container text-center">
    <div class="row mt-5 py-5">
      <div
        class="col-lg-3 col-md-12 con2col1"
        data-aos="fade-up"
        data-aos-duration="700"
      >
        <div class="py-4 ml-auto mr-auto svgdiv1">
          <img
            class="img w-100 h-100"
            src="../../assets/images/shipped.svg"
            alt="shipped-img"
          />
        </div>
        <p class="mt-2 text-uppercase font-weight-bold p1">free shipping</p>
        <p class="mt-3 text-uppercase p2 text-muted">on order above $100</p>
      </div>
      <div
        class="col-lg-3 col-md-12 con2col2"
        data-aos="fade-up"
        data-aos-duration="900"
      >
        <div class="py-4 ml-auto mr-auto svgdiv2">
          <img
            class="img w-100 h-100"
            src="../../assets/images/diet.svg"
            alt="diet-img"
          />
        </div>
        <p class="mt-2 text-uppercase font-weight-bold p1">always fresh</p>
        <p class="mt-3 text-uppercase p2 text-muted">product well package</p>
      </div>
      <div
        class="col-lg-3 col-md-12 con2col3"
        data-aos="fade-up"
        data-aos-duration="900"
      >
        <div class="py-4 ml-auto mr-auto svgdiv3">
          <img
            class="img w-100 h-100"
            src="../../assets/images/award.svg"
            alt="award-img"
          />
        </div>
        <p class="mt-2 text-uppercase font-weight-bold p1">superior quality</p>
        <p class="mt-3 text-uppercase p2 text-muted">quality products</p>
      </div>
      <div
        class="col-lg-3 col-md-12 con2col4"
        data-aos="fade-up"
        data-aos-duration="1100"
      >
        <div class="py-4 ml-auto mr-auto svgdiv4">
          <img
            class="img w-100 h-100"
            src="../../assets/images/customer-service.svg"
            alt="service-img"
          />
        </div>
        <p class="mt-2 text-uppercase font-weight-bold p1">support</p>
        <p class="mt-3 text-uppercase p2 text-muted">24/7 support</p>
      </div>
    </div>
  </div>
</section>
<app-footer-component></app-footer-component>
