<section class="content1">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide car-item">
        <img class="img-fluid d-block" src="../../../assets/images/bg_1.jpg" />
        <div class="carousel-caption caro-cap">
          <p class="display-1">we serve fresh vegetables & fruits</p>
          <h6 class="mt-4">we deliver organic vegetables & fruits</h6>
          <button class="btn mt-3" (click)="shop()" type="button">
            View Details
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide car-item">
        <img class="img-fluid d-block" src="../../../assets/images/bg_2.jpg" />
        <div class="carousel-caption caro-cap">
          <p class="display-1">100% fresh and organic foods</p>
          <h6 class="mt-4">we deliver organic vegetables & fruits</h6>
          <button class="btn mt-3" (click)="shop()" type="button">
            View Details
          </button>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
<section class="content2">
  <div class="container text-center">
    <div class="row mt-5 py-5">
      <div
        class="col-lg-3 col-md-12 con2col1"
        data-aos="fade-up"
        data-aos-duration="700"
      >
        <div class="py-4 ml-auto mr-auto svgdiv1">
          <img
            class="img w-100 h-100"
            src="../../assets/images/shipped.svg"
            alt="shipped-img"
          />
        </div>
        <p class="mt-2 text-uppercase font-weight-bold p1">free shipping</p>
        <p class="mt-3 text-uppercase p2 text-muted">on order above $100</p>
      </div>
      <div
        class="col-lg-3 col-md-12 con2col2"
        data-aos="fade-up"
        data-aos-duration="900"
      >
        <div class="py-4 ml-auto mr-auto svgdiv2">
          <img
            class="img w-100 h-100"
            src="../../assets/images/diet.svg"
            alt="diet-img"
          />
        </div>
        <p class="mt-2 text-uppercase font-weight-bold p1">always fresh</p>
        <p class="mt-3 text-uppercase p2 text-muted">product well package</p>
      </div>
      <div
        class="col-lg-3 col-md-12 con2col3"
        data-aos="fade-up"
        data-aos-duration="1100"
      >
        <div class="py-4 ml-auto mr-auto svgdiv3">
          <img
            class="img w-100 h-100"
            src="../../assets/images/award.svg"
            alt="award-img"
          />
        </div>
        <p class="mt-2 text-uppercase font-weight-bold p1">superior quality</p>
        <p class="mt-3 text-uppercase p2 text-muted">quality products</p>
      </div>
      <div
        class="col-lg-3 col-md-12 con2col4"
        data-aos="fade-up"
        data-aos-duration="1300"
      >
        <div class="py-4 ml-auto mr-auto svgdiv4">
          <img
            class="img w-100 h-100"
            src="../../assets/images/customer-service.svg"
            alt="service-img"
          />
        </div>
        <p class="mt-2 text-uppercase font-weight-bold p1">support</p>
        <p class="mt-3 text-uppercase p2 text-muted">24/7 support</p>
      </div>
    </div>
  </div>
</section>
<section class="content6">
  <div class="container">
    <div
      class="textpart text-center my-5"
      data-aos="fade-up"
      data-aos-duration="700"
    >
      <p class="testimony h5 pt-5">Testimony</p>
      <p class="h1 font-weight-bold my-4 satisfied">
        Our satisfied customers say
      </p>
      <p class="text-muted pt-3 pb-5 farfar">
        Far far away, behind the word mountains, far from the countries Vokalia
        and Consonantia, there live the blind texts. Separated they live in
      </p>
    </div>
    <div class="item text-center" data-aos="fade-up" data-aos-duration="500">
      <div class="owl-carousel carousel2 owl-theme">
        <div class="item text-center">
          <div class="personcontent px-5">
            <div class="px-4 mx-5">
              <img
                class="img-fluid rounded-circle"
                src="../../assets/images/person_1.jpg"
                alt="img"
              />
            </div>
            <div class="carouselp mt-5 pb-3">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
            <div class="carouselsp">
              <p class="font-weight-bolder">Garreth Smith</p>
              <span class="text-uppercase font-weight-bold"
                >System Analyst</span
              >
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="personcontent px-5">
            <div class="px-4 mx-5">
              <img
                class="img-fluid rounded-circle"
                src="../../assets/images/person_2.jpg"
                alt="img"
              />
            </div>
            <div class="carouselp mt-5 pb-3">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
            <div class="carouselsp">
              <p class="font-weight-bolder">Garreth Smith</p>
              <span class="text-uppercase font-weight-bold"
                >Marketing Manager</span
              >
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="personcontent px-5">
            <div class="px-4 mx-5">
              <img
                class="img-fluid rounded-circle"
                src="../../assets/images/person_3.jpg"
                alt="img"
              />
            </div>
            <div class="carouselp mt-5 pb-3">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
            <div class="carouselsp">
              <p class="font-weight-bolder">Garreth Smith</p>
              <span class="text-uppercase font-weight-bold"
                >Interface Designer</span
              >
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="personcontent px-5">
            <div class="px-4 mx-5">
              <img
                class="img-fluid rounded-circle"
                src="../../assets/images/person_1.jpg"
                alt="img"
              />
            </div>
            <div class="carouselp mt-5 pb-3">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
            <div class="carouselsp">
              <p class="font-weight-bolder">Garreth Smith</p>
              <span class="text-uppercase font-weight-bold">Ui Designer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content7">
  <div class="container py-5">
    <div class="row my-5">
      <div
        class="col-lg-2 col-sm-12 mx-3"
        data-aos="fade-up"
        data-aos-duration="700"
      >
        <a href="#"
          ><img
            class="img-fluid"
            src="../../assets/images/partner-1.png"
            alt="partner-1"
        /></a>
      </div>
      <div
        class="col-lg-2 col-sm-12 mx-3 ml-4"
        data-aos="fade-up"
        data-aos-duration="850"
      >
        <a href="#"
          ><img
            class="img-fluid"
            src="../../assets/images/partner-2.png"
            alt="partner-2"
        /></a>
      </div>
      <div
        class="col-lg-2 col-sm-12 mx-3"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <a href="#"
          ><img
            class="img-fluid"
            src="../../assets/images/partner-3.png"
            alt="partner-3"
        /></a>
      </div>
      <div
        class="col-lg-2 col-sm-12 mx-3"
        data-aos="fade-up"
        data-aos-duration="1150"
      >
        <a href="#"
          ><img
            class="img-fluid"
            src="../../assets/images/partner-4.png"
            alt="partner-4"
        /></a>
      </div>
      <div
        class="col-lg-2 col-sm-12 mx-3 ml-4"
        data-aos="fade-up"
        data-aos-duration="1300"
      >
        <a href="#"
          ><img
            class="img-fluid"
            src="../../assets/images/partner-5.png"
            alt="partner-5"
        /></a>
      </div>
    </div>
  </div>
</section>
<section class="content8 bg-light">
  <div class="container">
    <div class="row icopos">
      <div class="col-lg-6 newsleft my-5">
        <p class="h4">Subcribe to our Newsletter</p>
        <p class="text-muted bio">
          Get e-mail updates about our latest shops and special offers
        </p>
      </div>
      <div class="col-lg-6 formright my-5">
        <div>
          <div class="form-group d-flex">
            <input
              class="form-control input-lg"
              type="text"
              placeholder="   Enter email address"
            />
            <input class="btn input2" type="submit" value="Subcribe" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-component></app-footer-component>
